@charset "utf-8";
html {
    background-color: antiquewhite;
}    
/* Structural Styles */
article, aside, figcaption, figure,
footer, header, main, nav, section {
    display: block;
}

/*Grid Styles*/
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header    header"
                         "img       img   "
                         "h1         h1   "
                         "faq        faq  "
                         "footer    footer";
        
    grid-column-gap: 15px;    
}

body > header {
    grid-row: 1;
    grid-column: 1/-1;
}

/* Page Body Styles */
body {
   margin-left: auto;
   margin-right: auto;
   width: 95%;
   max-width: 960px;
   min-width: 640px;
   font-family: Verdana, Geneva, Arial, sans-serif;   
}

/* Page Header Styles */
body > header > img {
   display: block;
   width: 100%;
}
body > article {grid-area: intro;}
body > aside {grid-area: faq;}
body > section {grid-area: articles;}
body > footer {grid-area: footer;}


    
/* Gallery Styles*/
div.gallery {
  margin: 5px;
  border: 5px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 10px;
  text-align: center;
}    
footer {
    display: block;
    float: left;
}
footer {  
   color: rgb(186, 186, 156);
   background-color: rgb(71, 52, 29);
   font-size: 0.9em;
   padding: 1em 0;
   text-align: center;
}
a {
    color: white;
}